.barre {
    position: relative;
    border:3px;
    border-style: solid;
    border-color:black;
    width:700px;
    height:30px;
    margin-top: 2.9vh;
    margin-left: 20vh;
    display: inline-flex;
    border-radius: 10px;

}

.jauge {
    border-radius: 7px;
}