.alleggs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.eggs {
    width: 12%;
    height: auto;
    text-align: center;
    background-color: #ededed;
    color: #424242;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    opacity: 0.9;
    font: bold;

}
.eggs img {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    
}

#eggsContainer {
    width: 40%;
    margin-top: 0.5%;
}

#ptsnumb {
    font-weight: bold;
    margin-bottom: 0;
}
