*
{
	outline: 0;
	margin: 0;
    padding: 0;
    outline: 0;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none;
}


body{
	width: 98.9vw;
	height: 40vw;
	background: fixed, fixed, url("./assets/img/background.png") no-repeat scroll top center, black;
	background-size: cover;
	color: black;
    font-family: 'Khand', sans-serif;
    overflow: hidden;
}

.bebe{
    animation: walk 7s linear infinite;
    position: absolute;
}

@keyframes walk
{
    0%
    {
        margin: 30vh 0 0 199vh;
    }
    100%
    {
       margin: 30vh 0 0 -20vw;
    }
}

.bebe2{
    animation: walk2 8s linear infinite;  
    position: absolute; 
}

@keyframes walk2
{
    0%
    {
        margin: 40vh 0 0 199vh;
    }
    100%
    {
        margin: 40vh 0 0 -20vw;
    }
}

.bebe3{
    animation: walk3 6s linear infinite;   
    position: absolute; 
}

@keyframes walk3
{
    0%
    {
        margin: 50vh 0 0 199vh;
    }
    100%
    {
       margin: 50vh 0 0 -20vw;
    }
}

.bebe4{
    animation: walk4 10s ease infinite;   
    position: absolute; 
}

@keyframes walk4
{
    0%
    {
        margin: 58vh 0 0 199vh;
    }
    100%
    {
       margin: 58vh 0 0 -20vw;
    }
}
.char{
    margin-left: -26vh;
    margin-top: -6vh;
    width: 17.5vh;
    height: 17.5vh;
    border-radius: 50%;
    border: solid 3px black;
}

#timereteggs {
    display:flex;
    justify-content: space-around;
}

#scoreC {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bebe, .bebe2, .bebe3, .bebe4{
    cursor:url("https://www.dropbox.com/s/uon9apohjts3cki/curs.png?dl=1"), pointer;
}

/*.bebe, .bebe2, .bebe3, .bebe4{
    cursor:url("https://image.noelshack.com/fichiers/2019/16/5/1555667946-oeuf.png"), pointer;
}

.bebe:active, .bebe2:active, .bebe3:active, .bebe4:active
{
    cursor:url("https://image.noelshack.com/fichiers/2019/16/5/1555668236-oeuf2.png"), pointer;
}
*/

.add1
{
    position: absolute;
    margin-top: -16vh;
    margin-left: 8vh;
    transition: margin 0.1s linear;
    opacity: 0;
    font-size: 4vh;
    font-weight: bold;
}

.bebe:active > .add1, .bebe2:active > .add1, .bebe3:active > .add1, .bebe4:active > .add1
{
    opacity:1;
    margin-top: -30vh;
}

.nemesis{
    position: absolute;
    top: 23%;
    left: 4%;
    width: 8%;
}
.nemesis:hover{
    opacity: 0.9;
}
.nemesis img{
    width : 100%;
}

